body {
  color: lightgrey;
  gap: 10px;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.container {
  background-color: transparent;
  padding: 5rem;
}

/*main area color and position*/
main {
  background-color: white;
  grid-row: 2 / span 8;
  grid-column: 1 / span 5;
}

.imageMe {
  max-width: 50%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  padding-left: 0rem;
  padding-right: 0;
}

#about-me {
  color: black;
  text-align: center;
}

.projectImg {
  max-width: 75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem;
  margin-top: 5rem;
}

.projectImg:hover {
  opacity: 0.4;
}

#projects {
  color: black;
  max-width: 100rem;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

#contact-me,
#resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
  border: 2px solid black;
}
.display-container {
  background-image: url("./glassrain.jpeg");
  position: relative;
  height: 700px;
  padding: 0;
}

.content {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.center .bar {
  display: inline-block;
  width: auto;
}
.bar-block .center .bar-item {
  text-align: center;
}
.center {
  text-align: center !important;
}
.bar .bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}
.bar .dropdown-hover,
.bar .dropdown-click {
  position: static;
  float: left;
}
.button {
  background-color: rgb(192, 192, 192) !important;
  color: #000 !important;
  border: none;
  display: block;
  padding: 8px 16px;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: none;
  margin: 0;
  float: left;
}
.button:hover {
  background-color: black !important;
  color: grey !important;
}
.repButton {
  background-color: rgb(192, 192, 192) !important;
  color: #000 !important;
  border: none;
  padding: 8px 16px;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  margin: 0;
  float: center;
  border-radius: 12px;
}

.repButton:hover {
  background-color: black !important;
  color: grey !important;
  border-radius: 12px;
}

footer {
  /*  background-color: grey;*/
  grid-row: 10;
  grid-column: 1 / span 5;
  text-align: center;
}

/* screen size changes*/
@media screen and (min-width: 600px) {
  body {
    background: black;
  }
}

@media screen and (min-width: 900px) {
  body {
    background-color: white;
  }
}
